@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);



*{border:0; margin:0; padding:0;}


html {

	text-align: center;
	background: #ddd;

}

body {

    font-size:15px;
    height:100%;
    width:100%;
	position: fixed;
}


#nav {
	position:absolute;
	float: left;

	top:0;
	left: 0;

	width: 100%;

	text-align: center;

	padding: 5px;
	font-size: 20px;
	color:#232323;
	margin: 0 0 5px 0;

	background: #dd4b39;

}

#cuerpo {

	position:relative;

	top:50px;
	left: 0;

	

	width: 100%;

	text-align: center;

}


#IMG {

	position: absolute;

	float: left;

	top:30px;
	left: 0;

	width: 100%;

	text-align: center;

	border-radius: 20px;



}

#IMG img {


	width: auto;
	max-width: 99%;


	height: auto;
	max-height: 75%;

}



button {

	font-family: 'Averia Sans Libre', cursive;

	padding: 5px;
	font-size: 20px;
	color:#232323;
	margin: 0 0 5px 0;
	border-radius: 10px;

	background: #ddd;

}

button:active  {

	background: #dd4b39;
	color:#fff;

}

.like img{ width: 30px; height:30px; }
.dlike img { width: 30px; height:30px; }

.like{

	float: left;

	top:1px;
	left: 10px;
}



.dlike{

	float: right;

	top:1px;
	right: 10px;


}
