
#nav {
	position:absolute;
	float: left;

	top:0;
	left: 0;

	width: 100%;

	text-align: center;

	padding: 5px;
	font-size: 20px;
	color:#232323;
	margin: 0 0 5px 0;

	background: #dd4b39;

}

#cuerpo {

	position:relative;



	top:30px;
	left: 0;

	

	width: 100%;

	text-align: center;

}


#IMG {

	position:absolute;
	float: left;

	top:30px;
	left: 0;

	width: 100%;

	text-align: center;


}