@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);



*{border:0; margin:0; padding:0;}


html {

	text-align: center;
	background: #ddd;

}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
	margin:0;
	border:0;
	position: fixed;
}


#nav {
	position:absolute;
	float: left;

	top:0;
	left: 0;

	width: 100%;

	text-align: center;

	padding: 5px;
	font-size: 20px;
	color:#232323;
	margin: 0 0 5px 0;

	background: #dd4b39;

}
