@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);



*{border:0; margin:0; padding:0;}


html {

	text-align: center;
	background: #ddd;

}


#nav {
	position:absolute;
	float: left;

	top:0;
	left: 0;

	width: 100%;

	text-align: center;

	padding: 5px;
	font-size: 20px;
	color:#232323;
	margin: 0 0 5px 0;

	background: #dd4b39;

}
